.parent{
    width: 100%;
    /* border: 1px solid black; */
}

.main-container{
    margin: 3rem auto;
    /* border: 1px solid black; */
    width: fit-content;
}

label{
    
}

.question-text{
    width: 60vw;
    height: 40vh;
    margin-bottom: 1rem;
    border-color: goldenrod ;
    border-style: solid;
    border-radius: 0.5rem;
}

.option-text{
    width: 60vw;
    height: 5vh;
    margin-bottom: 1rem;
    border-color: #DEB887 ;
    border-style: solid;
    border-radius: 0.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.nextprevious{
    margin-right: 0.5rem ;
}

